body, html {
	padding: 0px;
	margin: 0 auto;
	font-family: 'Lobster', cursive;
}
body {
	background-color: #FF5733 ;
}
.close {
	padding: 10px;
	position: absolute;
}	
.form {

	width: 50%;
	padding: 30px 20px;
	margin: 25px auto;
	text-align: center;
	background-color: #fff;
}
input {
	font-size: 16px;
	padding: 10px 25px;
	margin: 5px;
	border: 1px solid #FF5733;
	font-family: 'Open Sans Condensed', sans-serif;

}
.loginbtn {
	padding: 15px 50px;
	color: #fff;
	border-radius: 15px;
	border: 1px solid #FF5733;
	background-color: #FF5733;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;

}
.loginbtn:hover {
	background-color: #861D06;
	border-color: #861D06;
	transition: 2s;
}

.fam {
	font: 12px arial;
	position: inherit;
	margin: 0px 5px;
	margin-left: 20px;
	padding: 10px;
	padding-left: 50px;
	float: left;
	text-decoration: none;
	color: #FF5733;
	text-align: left;
}
.fa {
	margin-left: 45px;
}

/****dfsdfgsdfg****/

.closebtn {
	padding: 5px 10px;
	color: #fff;
	font-size: 16px;
	border: 1px solid #DAF7A6;
	background-color: #DAF7A6;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;

}
.close {
	position: relative; 
	text-align: right;
	float: center;
	display: block;
}

/** PARA SA BABA NG INPUT  **/

.letsgo {
	font: 12px arial;
	margin: 0px 5px;
	margin-left: 20px;
	padding: 10px;
	padding-left: 50px;
	float: left;
	text-decoration: none;
	color: #FF5733;
	text-align: left;
}
.fa {
	margin-left: 50px;
}